<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
  <style>
    input{
      width:150px;
      heihgt:20px;
      margin:10px;
    }
  </style>
</head>
<body>
<form action= "changePass"   method="post" class="wrap">
  <label for="nowpass">当前密码</label>
  <input type="text" name="nowpass" id="nowpass"><br>
  <label for="newpass">新密码</label>
  <input type="password" name="newpass" id="newpass"><br>
  <label for="confirmpass">确认密码</label>
  <input type="password" name="confirmpass" id="confirmpass"><br>
  <input class="login" type="submit" value="保存">
</form>
</body>
</html>
