<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<form action="loginSuccess" class="wrap">
  <input type="text" placeholder="请输入已验证手机/邮箱"><br>
  <input type="password" placeholder="请输入密码">
  <div class="password"><a href="#">忘记密码</a></div>
  <input class="login" type="submit" value="登录">
</form>
</body>
</html>
